@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.90);
        /* Scale up by 5% */
    }

    100% {
        transform: scale(1);
    }
}

.scale-animation {
    animation: scaleUp 500ms ease forwards;
}


@tailwind base;
@tailwind components;
@tailwind utilities;